
.button {
    display: inline-block;
    /*width: 189px;*/
    height: 48px;
    border-radius: 8px;
    border: 0;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border 200ms ease-in-out;

    padding-top: 15px;
    padding-bottom: 14px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
}

/*.button__text {*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*    text-align: center;*/
/*    color: var(--white);*/

/*}*/

.button_primary {
    background: var(--blue-1);
    padding-left: 66px;
    padding-right: 65px;
}

.button_primary:hover:enabled {
    background: var(--blue-2);
    cursor: pointer;
}

.button_secondary {
    background: var(--purple);
    padding-left: 56px;
    padding-right: 57px;
}

.button_secondary:hover:enabled {
    background: var(--purple-2);
    cursor: pointer;
}

.button_alternate {
    background: var(--white);
    border: 1px solid var(--grey-4);
    padding-left: 61px;
    padding-right: 62px;
    color: var(--grey-5);
}


.button_alternate:hover:enabled {
    border: 1px solid var(--black);
    cursor: pointer;
}

.button:disabled{
    pointer-events: none;
    opacity: 0.5;
}