.item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 730px;
    height: 72px;
    background: var(--white);
    margin-bottom: 8px;
}

.item__summary {
    padding-left: 32px;
    padding-top: 24px;
    /*display: inline;*/
    width: 158px;
    height: 24px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.item__text {
    margin: 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    padding: 16px 49px 32px 32px;
}

.item[open] {
    min-height: 144px;
}

.item__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}