.preview {
    background: #F9FAFC;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    padding: 68px 5px 204px 5px;
    box-sizing: border-box;
}

.preview__card {
    width: calc(100% / 3 - 30px);
}